:root {
  /*
    --header-background-color: $day-header-background-color;
    --header-nav-color: $day-header-nav-color;
    --body-background-color: $day-body-background-color;
    --header-font-color: $day-header-font-color;
    --header-achor-color: $day-header-achor-color;
    --body-font-color-primary: $day-body-font-color-primary;
    --body-font-color-secondary: $day-body-font-color-secondary;
    --btn-background-color:rgba(242, 242, 247, 1);*/
  --header-background-color: rgba(255, 255, 255, 1);
  --header-nav-color: rgba(255, 255, 255, 1);
  --body-background-color: rgba(244, 246, 251, 1);
  --header-font-color: black;
  --header-achor-color: rgba(48, 64, 229, 1);
  --body-font-color-primary: black;
  --body-font-color-secondary: rgba(44, 44, 46, 1);
  --btn-background-color: rgba(244, 246, 251, 1); }

.night-theme {
  --header-background-color: rgba(5, 5, 25, 1);
  --header-nav-color: black;
  --header-font-color: white;
  --header-achor-color: rgba(255, 255, 255, 1);
  --body-font-color-primary: white;
  --body-font-color-secondary: rgba(255, 255, 255, 0.74);
  --btn-background-color: rgba(40, 44, 52, 1); }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

.body-theme-day {
  background-color: var(--body-background-color); }

.body-theme-night {
  background-image: linear-gradient(172.33deg, #30303A -1.75%, #20202E 83.53%, #050519 104.9%); }

ul,
li {
  list-style-type: none; }

html {
  font-size: 62.5%; }

.header,
.application-and-tools {
  color: var(--header-font-color); }

body {
  color: var(--body-font-color-primary);
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 3rem; }

.header p {
  color: var(--body-font-color-secondary); }

.header a {
  color: var(--header-achor-color); }

.heading--secondary {
  font-size: 1rem;
  font-weight: 300;
  line-height: 3rem;
  letter-spacing: 0.005rem; }

.heading--primary {
  font-size: 2.8rem;
  line-height: 3rem;
  font-weight: 800;
  letter-spacing: .06rem; }

.topic-heading--primary {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 62.17px;
  letter-spacing: .2rem; }

.topic-heading--secondary {
  font-weight: 500;
  line-height: 24.18px;
  letter-spacing: 0.015em; }

.btn-font {
  font-family: Roboto;
  font-weight: 500;
  line-height: 2rem;
  letter-spacing: 0.055em; }

.footer-font {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 6.2rem;
  letter-spacing: .2rem; }

.theme-toogle-icon {
  font-size: 2rem;
  margin-left: 2rem;
  border: none;
  background-color: transparent;
  cursor: pointer; }

@media only screen and (min-width: 400px) {
  .heading--secondary {
    font-size: 3rem; }
  .heading--primary {
    font-size: 5rem;
    line-height: 6rem; } }

@media only screen and (min-width: 1198px) {
  .heading--secondary {
    font-size: 2.4rem; }
  .heading--primary {
    font-size: 6rem;
    line-height: 8.5rem; }
  .theme-toogle-icon {
    font-size: 3rem;
    margin: 0 2rem; } }

.u-margin-top-big {
  margin-top: 6rem; }

.u-margin-top-medium {
  margin-top: 3rem; }

.u-margin-top-small {
  margin-top: 1rem; }

.u-margin-bottom-big {
  margin-bottom: 6rem; }

.u-margin-bottom-medium {
  margin-bottom: 3rem; }

.u-margin-bottom-small {
  margin-bottom: 1rem; }

.u-margin-left-big {
  margin-left: 6rem; }

.u-margin-left-medium {
  margin-left: 3rem; }

.u-margin-left-small {
  margin-left: 1rem; }

.u-padding-big {
  padding: 6rem; }

.u-padding-medium {
  padding: 3rem; }

.u-padding-small {
  padding: 1rem; }

.u-padding-bottom-big {
  padding-bottom: 6rem; }

.u-padding-bottom-medium {
  padding-bottom: 3rem; }

.u-padding-bottom-small {
  padding-bottom: 1rem; }

.u-padding-left-right-big {
  padding: 0 6rem; }

.u-padding-left-right-medium {
  padding: 0 3rem; }

.u-padding-left-right-small {
  padding: 0 1rem; }

.u-text-center {
  text-align: center; }

.u-border-bottom {
  border-bottom: 1px solid var(--btn-background-color); }

.u-border-top {
  border-top: 1px solid var(--btn-background-color); }

.u-border-left {
  border-left: 1px solid var(--btn-background-color); }

.u-border-right {
  border-right: 1px solid var(--btn-background-color); }

.u-hover-scale-box-shadow {
  transition: all .5s;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent; }
  .u-hover-scale-box-shadow:hover {
    transform: scale(1.01);
    cursor: pointer;
    border: 1px solid #b9b2b2;
    border-radius: 3px;
    box-shadow: 0 0.5rem 0.5rem 0.5rem rgba(19, 1, 1, 0.1); }
  .u-hover-scale-box-shadow:active {
    transform: scale(0.99); }

.row {
  display: flex;
  flex-direction: column-reverse;
  background-color: var(--header-background-color);
  position: relative;
  height: 100vh; }

.col1__showcase-img,
.col2__showcase-img {
  height: 100%; }

.col1 {
  flex: 2;
  padding: 1rem; }
  .col1__description {
    padding-left: 0; }

.col2 {
  flex: 1; }
  .col2--tuku {
    background-image: url("../assets/img/tuku1.svg");
    background-size: cover; }
  .col2--eventid {
    background-image: url("../assets/img/event2.svg");
    background-size: cover; }
  .col2--medica {
    background-image: url("../assets/img/medica1.svg");
    background-size: cover; }

@media only screen and (min-width: 500px) {
  .row {
    flex-direction: row;
    overflow: hidden;
    border-bottom: 1px solid var(--btn-background-color);
    padding: 3rem 0; }
  .col1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; }
  .col2 {
    flex: 1; } }

@media only screen and (min-width: 1008px) {
  .row {
    margin: 4rem 8rem;
    flex-direction: row;
    overflow: hidden; }
  .col1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 8rem; }
  .col2 {
    flex: 1;
    overflow: hidden; } }

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }
  .header__dropdown-menu-btn {
    display: flex;
    background-color: transparent; }
  .header__dropdown-menu {
    position: absolute;
    right: 3.6rem;
    top: 7.6rem;
    background-color: var(--btn-background-color);
    box-shadow: 0 0.2rem 1.2rem 0.2rem rgba(0, 0, 0, 0.2);
    padding: 1.6rem;
    border-radius: 3px;
    display: none;
    transition: all .8s; }
    .header__dropdown-menu--active {
      display: block; }
  .header__logo {
    padding: 1rem; }
  .header__summary {
    text-align: center;
    transform: translateY(-6rem); }
  .header__nav {
    display: inherit;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 5rem;
    padding: 1rem; }
    .header__nav ul {
      display: none; }
      .header__nav ul li {
        padding: .5rem 1.2rem;
        border-radius: 3px; }
  .header__social-links {
    display: inherit;
    list-style-type: none;
    flex-wrap: wrap;
    margin-bottom: 3rem; }
  .header__btn-wrapper {
    align-items: center; }

@media only screen and (min-width: 750px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; }
    .header__social-links {
      margin-bottom: 10rem; }
    .header__summary {
      transform: translateY(0);
      margin-bottom: 5rem; }
    .header__btn-wrapper {
      display: flex;
      justify-content: center; } }

@media only screen and (min-width: 1198px) {
  .header {
    position: relative;
    padding: 0 6rem;
    justify-content: flex-start; }
    .header__dropdown-menu-btn {
      display: none; }
    .header__nav {
      margin-bottom: 4rem; }
      .header__nav ul {
        display: flex;
        justify-content: space-between; }
    .header__summary {
      width: 60%;
      transform: translateY(0);
      margin-bottom: 5rem; }
    .header__btn-wrapper {
      display: flex;
      justify-content: center; }
    .header__dropdown-menu--active {
      display: none; }
    .header__social-links {
      margin-bottom: 15rem; } }

.application-and-tools {
  height: auto;
  z-index: -2;
  padding: .5rem; }
  .application-and-tools__footer {
    border-radius: 3rem;
    background-color: var(--btn-background-color);
    text-align: center;
    transition: all .5s; }
    .application-and-tools__footer:hover {
      transform: scale(1.01);
      box-shadow: 0 0.5rem 0.5rem 0.5rem rgba(19, 1, 1, 0.1); }
  .application-and-tools___wrapper {
    height: auto;
    overflow: visible;
    display: flex; }
    .application-and-tools___wrapper--bottom-border li:last-child {
      border: none; }

@media only screen and (min-width: 750px) {
  .application-and-tools {
    padding: 2.5rem; }
    .application-and-tools__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .application-and-tools__wrapper--bottom-border li {
        border: none; }
    .application-and-tools__list {
      display: flex; }
      .application-and-tools__list li {
        flex: 1;
        padding: 1.5rem 2.5rem;
        margin: 1; } }

@media only screen and (min-width: 750px) {
  .footer {
    margin: 6rem; }
    .footer__wrapper {
      display: flex;
      justify-content: space-between; } }

.btn {
  border-radius: 2rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 0.2rem 0.8rem 0.2rem rgba(20, 1, 1, 0.1);
  transition: all .2s; }
  .btn--download {
    margin: 0 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    padding: 1rem;
    border-radius: 2rem;
    transform: translateY(-0.5rem); }
    .btn--download:hover {
      background-color: var(--btn-background-color);
      cursor: pointer; }
  .btn--category {
    position: absolute;
    top: 2vh;
    left: 1rem; }
    .btn--category figure {
      transform: translateY(0.5rem); }
  .btn--center {
    display: flex;
    justify-content: center; }
  .btn--blue {
    padding: .8rem 4rem;
    background-color: #3040e5;
    color: white;
    box-shadow: 0 0.2rem 0.1rem 0.2rem rgba(20, 1, 1, 0.4);
    align-self: center; }
  .btn--white {
    background-color: white;
    border: 1px solid #e6e6e6;
    color: black;
    display: flex;
    justify-content: baseline;
    align-items: center;
    gap: .5rem;
    padding: .2rem; }
    .btn--white:hover {
      background-color: white; }
    .btn--white:active {
      background-color: #e6e6e6; }
  .btn--nav, .btn--nav:visited {
    background-color: var(--btn-background-color);
    color: var(--header-font-color);
    border-radius: 1rem;
    padding: .5rem 2rem;
    margin: 2rem;
    border: none; }
    .btn--nav:active, .btn--nav:visited:active {
      transform: scale(0.9) translateY(0.1rem); }
  .btn:hover {
    transform: scale(1.01) translateY(-0.5rem); }
  .btn:active {
    transform: scale(0.9) translateY(0.1rem); }

@media only screen and (min-width: 769px) {
  .btn--category {
    position: static; } }

.tools-used {
  display: flex;
  list-style-type: none;
  align-items: center;
  padding: 0 1rem; }
  .tools-used li {
    padding-right: 2rem; }
  .tools-used__item-cemter {
    justify-content: space-between; }

@media only screen and (min-width: 300px) {
  .tools-used {
    width: 100%;
    justify-content: flex-start; } }

@media only screen and (min-width: 769px) {
  .tools-used {
    padding: 0;
    width: 60%;
    justify-content: flex-start; } }

.topic-wrapper {
  display: flex;
  padding: 1rem;
  align-items: center; }
  .topic-wrapper__image {
    width: 100%; }
  .topic-wrapper__frame {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    box-shadow: 0 0.5rem 0.5rem 0.5rem rgba(19, 1, 1, 0.1); }

@media only screen and (min-width: 769px) {
  .topic-wrapper {
    padding: 2rem 0; } }

.round-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  border: none;
  background-color: #f4f6fb;
  margin: 1rem .2rem;
  padding: 1rem;
  box-shadow: 0 0.5rem 0.5rem 0.5rem rgba(19, 1, 1, 0.1);
  position: relative; }
  .round-icon--smaller {
    position: absolute;
    height: 4rem;
    width: 4rem;
    transform: translate(3.5rem, -6.5rem); }
  .round-icon--top {
    z-index: 2; }
  .round-icon:hover {
    transform: scale(1.01); }
  .round-icon--white {
    background-color: white; }

.square-icon {
  height: 2.4rem;
  width: 2.4rem;
  margin: 0 1.2rem; }

.icon-img {
  border: none;
  height: 100%;
  object-fit: fill; }

.footer {
  padding: 1rem; }
  .footer__social-links {
    list-style-type: none;
    display: flex;
    row-gap: 4rem;
    margin-top: 1.2rem; }

.header,
.application-and-tools {
  background-color: var(--header-background-color); }
