:root {
  --header-background-color:rgba(255,255,255,1);
  --body-background-color:rgba(244, 246, 251, 1);
  --header-font-color:black;
  --header-achor-color:rgba(48, 64, 229, 1);
  --body-font-color-primary:black;
  --body-font-color-secondary:rgba(44,44,46,1);
  --btn-background-color:rgba(244, 246, 251, 1); }

.night-theme {
  --header-background-color:black;
  --header-font-color:white;
  --header-achor-color:rgba(48, 64, 229, 1);
  --body-font-color-primary:white;
  --body-font-color-secondary:rgba(255, 255, 255, 0.74);
  --btn-background-color:rgba(40, 44, 52, 1); }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

.body-theme-day {
  background-color: var(--body-background-color); }

.body-theme-night {
  background-image: linear-gradient(172.33deg, #30303A -1.75%, #20202E 83.53%, #050519 104.9%); }

ul, li {
  list-style-type: none; }

html {
  font-size: 62.5%; }

.header,
.application-and-tools {
  color: var(--header-font-color); }

body {
  color: var(--body-font-color-primary); }

.header p {
  color: var(--body-font-color-secondary); }

.header a {
  color: var(--header-achor-color); }

.heading__secondary {
  font-family: Montserrat;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 35.2px;
  letter-spacing: 0.005em; }

.heading__primary {
  font-family: Montserrat;
  font-size: 3.5rem;
  font-weight: 800;
  line-height: 5rem;
  letter-spacing: .06rem; }

body {
  font-family: Montserrat;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 3rem; }

.topic-heading--primary {
  font-family: Montserrat;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 62.17px;
  letter-spacing: .2rem; }

.topic-heading--secondary {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 24.18px;
  letter-spacing: 0.015em; }

.btn-font {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 20.54px;
  letter-spacing: 0.055em; }

.footer-font {
  font-family: Montserrat;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 62.17px;
  letter-spacing: .2rem; }

.theme-toogle-icon {
  font-size: 3rem;
  margin: 0 2rem;
  border: none;
  background-color: transparent; }

.u-margin-top-big {
  margin-top: 6rem; }

.u-margin-top-medium {
  margin-top: 3rem; }

.u-margin-top-small {
  margin-top: 1rem; }

.u-margin-bottom-big {
  margin-bottom: 6rem; }

.u-margin-bottom-medium {
  margin-bottom: 3rem; }

.u-margin-bottom-small {
  margin-bottom: 1rem; }

.u-margin-left-big {
  margin-left: 6rem; }

.u-margin-left-medium {
  margin-left: 3rem; }

.u-margin-left-small {
  margin-left: 1rem; }

.u-padding-big {
  padding: 6rem; }

.u-padding-medium {
  padding: 3rem; }

.u-padding-small {
  padding: 1rem; }

.u-padding-bottom-big {
  padding-bottom: 6rem; }

.u-padding-bottom-medium {
  padding-bottom: 3rem; }

.u-padding-bottom-small {
  padding-bottom: 1rem; }

.u-text-center {
  text-align: center; }

.u-border-bottom {
  border-bottom: 1px solid #282c34; }

.u-border-top {
  border-top: 1px solid #282c34; }

.u-border-left {
  border-left: 1px solid #282c34; }

.u-border-right {
  border-right: 1px solid #282c34; }

.row {
  display: flex;
  flex-direction: column-reverse;
  height: 100vh;
  background-color: var(--header-background-color);
  position: relative; }

.col1__showcase-img, .col2__showcase-img {
  height: 100%; }

.col1 {
  flex: 2; }

.col2 {
  flex: 1; }
  .col2--tuku {
    background-image: url("../assets/img/tuku ternak 1.svg");
    background-size: cover; }

ul-social-links {
  margin: 1rem;
  padding: 2rem; }

@media only screen and (min-width: 500px) {
  .row {
    flex-direction: row;
    overflow: hidden; }
  .col1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 5rem; }
  .col2 {
    flex: 1; } }

@media only screen and (min-width: 1040px) {
  .row {
    margin: 3rem 6rem;
    flex-direction: row;
    overflow: hidden; }
  .col1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 5rem; }
  .col2 {
    flex: 1;
    overflow: hidden; } }

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }
  .header__dropdown-menu-btn {
    display: flex;
    background-color: transparent; }
  .header__dropdown-menu {
    position: absolute;
    right: 3.6rem;
    top: 7.6rem;
    background-color: rgba(255, 255, 253, 0.2);
    box-shadow: 0 0.2rem 1.2rem 0.2rem rgba(0, 0, 0, 0.2);
    padding: 1.6rem;
    border-radius: 3px;
    display: none;
    transition: all .8s; }
    .header__dropdown-menu--active {
      display: block; }
  .header__logo {
    padding: 1rem; }
  .header__summary {
    text-align: center; }
  .header__nav {
    display: inherit;
    width: 100%;
    z-index: 3;
    justify-content: space-between; }
    .header__nav ul {
      display: none; }
      .header__nav ul li {
        padding: .5rem 1.2rem;
        border-radius: 3px; }
        .header__nav ul li:hover {
          text-decoration: none;
          cursor: pointer;
          background-color: var(--body-background-color);
          color: #a422be; }
  .header__social-links {
    display: inherit;
    list-style-type: none;
    flex-wrap: wrap;
    transform: translateY(-6rem); }

@media only screen and (min-width: 769px) {
  .header {
    position: relative;
    justify-content: space-evenly; }
    .header__dropdown-menu-btn {
      display: none; }
    .header__nav {
      position: absolute;
      top: 0; }
      .header__nav ul {
        display: flex;
        justify-content: space-between; }
    .header__summary {
      width: 70%; }
    .header__btn-wrapper {
      display: flex;
      justify-content: center;
      row-gap: 50rem; } }

.application-and-tools {
  height: auto;
  z-index: -2; }
  .application-and-tools___wrapper {
    height: auto;
    overflow: visible;
    display: flex; }
    .application-and-tools___wrapper--bottom-border li:last-child {
      border: none; }

@media only screen and (min-width: 769px) {
  .application-and-tools {
    height: 100vh; }
    .application-and-tools__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .application-and-tools__wrapper--bottom-border li {
        border: none; }
      .application-and-tools__wrapper ul {
        display: flex; }
        .application-and-tools__wrapper ul li {
          flex: 1; } }

.footer__social-links {
  list-style-type: none;
  display: flex;
  row-gap: 4rem;
  margin-top: 1.2rem; }

.btn {
  border-radius: 2rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 0.2rem 0.8rem 0.2rem rgba(20, 1, 1, 0.1);
  transition: all .2s; }
  .btn--category {
    position: absolute;
    top: 2vh;
    left: 1rem; }
  .btn--center {
    display: flex;
    justify-content: center; }
  .btn--blue {
    padding: .5rem 2rem;
    background-color: #3040e5;
    color: white;
    box-shadow: 0 0.2rem 0.1rem 0.2rem rgba(20, 1, 1, 0.4); }
  .btn--white {
    background-color: #f2f2f7;
    border: 1px solid #f2f2f7;
    color: black;
    display: flex;
    justify-content: baseline;
    align-items: center;
    gap: .5rem;
    padding: .2rem; }
    .btn--white:hover {
      background-color: white; }
    .btn--white:active {
      background-color: #e6e6e6; }
  .btn--nav, .btn--nav:visited {
    background-color: var(--btn-background-color);
    color: var(--header-font-color);
    border-radius: 1rem;
    padding: .5rem 2rem;
    margin: 2rem;
    border: none; }
    .btn--nav:active, .btn--nav:visited:active {
      transform: scale(0.9) translateY(0.1rem); }
  .btn:hover {
    transform: scale(1.01) translateY(-0.5rem); }
  .btn:active {
    transform: scale(0.9) translateY(0.1rem); }

@media only screen and (min-width: 769px) {
  .btn--category {
    position: static; }
  .btn--download {
    margin: 0 3rem;
    display: inline; } }

.tools-used {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 1rem; }

@media only screen and (min-width: 300px) {
  .tools-used {
    width: 100%;
    justify-content: space-between; } }

@media only screen and (min-width: 769px) {
  .tools-used {
    padding: 0;
    width: 60%;
    justify-content: space-between; } }

.topic-wrapper {
  display: flex;
  padding: 1rem; }
  .topic-wrapper__image {
    box-shadow: 0 0 1.2rem 0.2rem black;
    clip-path: circle(40% at 50% 50%); }

@media only screen and (min-width: 769px) {
  .topic-wrapper {
    padding: 2rem 0; } }

.round-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  border: none;
  background-color: #f4f6fb;
  margin: 1rem .2rem;
  padding: 1rem;
  box-shadow: 0 3px 3px 3px rgba(0, 0, 0, 0.1);
  position: relative; }
  .round-icon--smaller {
    position: absolute;
    height: 4rem;
    width: 4rem;
    transform: translate(3.5rem, -6.5rem); }
  .round-icon--top {
    z-index: 2; }

.square-icon {
  height: 4rem;
  width: 4rem;
  margin: 0 1.2rem; }

.icon-img {
  border: none;
  height: 100%;
  object-fit: fill; }

.header,
.application-and-tools {
  background-color: var(--header-background-color); }

.header {
  height: 100vh; }
