.application-and-tools{
    height: auto;
    z-index: -2;
    padding: .5rem;
    &___wrapper{
        height: auto;
        overflow:visible;
        display: flex;
        &--bottom-border li:last-child{
            border: none;
        }

    }
}
@media only screen and (min-width:$min-width-large){
    .application-and-tools{
        height: 100vh;
        padding: 2.5rem;
        &__wrapper{
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &--bottom-border{
                li{
                    border: none;
                }
            }
            ul{
                display: flex;
                li{
                    flex:1;
                    padding: 1.5rem 2.5rem;
                    margin: 1;
                }
            }
        }
    }
}

