

@media only screen and (min-width:$min-width-medium-grid) {
    .footer {
        margin: 6rem;


        &__wrapper{
            display: flex;
            justify-content: space-between;
        }
    }

}