.row {
    display: flex;
    flex-direction: column-reverse;
    background-color: var(--header-background-color);
    position: relative;
}

.col1,
.col2 {
    &__showcase-img {
        height: 100%;
    }
}

.col1 {
    flex: 2;
    padding: 1rem;

    &__description{
        padding-left: 0;

    }
}

.col2 {
    flex: 1;

    &--tuku {
        background-image: url('../assets/img/tuku1.svg');
        background-size: cover;
    }

    &--eventid {
        background-image: url('../assets/img/event2.svg');
        background-size: cover;
    }

    &--medica {
        background-image: url('../assets/img/medica1.svg');
        background-size: cover;
    }

}

@media only screen and (min-width:$min-width-small-grid) {
    .row {
        flex-direction: row;
        overflow: hidden;
        border-bottom: 1px solid var(--btn-background-color);
    }

    .col1 {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .col2 {
        flex: 1;
    }
}

@media only screen and (min-width:$min-width-large-grid) {
    .row {
        margin: 4rem 8rem;
        flex-direction: row;
        overflow: hidden;

    }

    .col1 {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 8rem;
    }

    .col2 {
        flex: 1;
        overflow: hidden;
    }
}