.row{
    display: flex;
    flex-direction: column-reverse;
    height: 100vh;
    background-color: var(--header-background-color);
    position: relative;
}
.col1,.col2
{
    &__showcase-img{
        height: 100%;
    }
}
.col1{
    flex:2
}
.col2{
    flex:1;
    &--tuku{
        background-image: url('../assets/img/tuku ternak 1.svg');
        background-size: cover;
    }

}

@media only screen and (min-width:500px){
    .row{
        flex-direction: row;
        overflow: hidden;
    }
    .col1{
        flex:1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 5rem;
    }
    .col2{
        flex:1;
    }
}

@media only screen and (min-width:1040px){
    .row{
        margin: 3rem 6rem;
        flex-direction: row;
        overflow: hidden;
    }
    .col1{
        flex:1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 5rem;
    }
    .col2{
        flex:1;
        overflow: hidden;
    }
}