.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &__dropdown-menu-btn {
        display: flex;
        background-color: transparent;
    }

    &__dropdown-menu {
        position: absolute;
        right: 3.6rem;
        top: 7.6rem;
        background-color: var(--btn-background-color);
        box-shadow: 0 .2rem 1.2rem .2rem rgba(0, 0, 0, 0.2);
        padding: 1.6rem;
        border-radius: 3px;
        display: none;
        transition: all .8s;

        &--active {
            display: block;
        }
    }

    &__logo {
        padding: 1rem;
    }

    &__summary {
        text-align: center;
        transform: translateY(-6rem);
    }

    &__nav {
        display: inherit;
        width: 100%;
        justify-content: space-between;

        ul {
            display: none;

            li {
                padding: .5rem 1.2rem;
                border-radius: 3px;
            }
        }
    }

    &__social-links {
        display: inherit;
        list-style-type: none;
        flex-wrap: wrap;
        margin-bottom: 1rem;
    }

    &__btn-wrapper {
        align-items: center;
    }
}

@media only screen and (min-width:$min-width-medium) {

    .header {

        &__nav {
            background-color: var(--header-nav-color);
            margin-bottom: 20rem;
        }

        justify-content: flex-start;

        &__summary {
            transform: translateY(0);
            margin-bottom: 5rem;
        }

        &__btn-wrapper {
            display: flex;
            justify-content: center;
        }
    }
}

@media only screen and (min-width:$min-width-large) {

    .header {
        position: relative;
        padding: 0 6rem;
        justify-content: flex-start;

        &__dropdown-menu-btn {
            display: none;
        }

        &__nav {
            margin-bottom: 4rem;

            ul {
                display: flex;
                justify-content: space-between;
            }
        }

        &__summary {
            width: 60%;
            transform: translateY(0);
            margin-bottom: 5rem;
        }

        &__btn-wrapper {
            display: flex;
            justify-content: center;
        }

        &__dropdown-menu--active {
            display: none;
        }
    }
}