:root{
    --header-background-color:rgba(255,255,255,1);
    --body-background-color:rgba(244, 246, 251, 1);
    --header-font-color:black;
    --header-achor-color:rgba(48, 64, 229, 1);
    --body-font-color-primary:black;
    --body-font-color-secondary:rgba(44,44,46,1);
    --btn-background-color:rgba(244, 246, 251, 1);
}