:root {
    --header-background-color: #{$day-header-background-color};
    --header-nav-color: #{$day-header-nav-color};
    --body-background-color: #{$day-body-background-color};
    --header-font-color: #{$day-header-font-color};
    --header-achor-color: #{$day-header-achor-color};
    --body-font-color-primary: #{$day-body-font-color-primary};
    --body-font-color-secondary: #{$day-body-font-color-secondary};
    --btn-background-color:#{$day-btn-background-color};
}
