.night-theme {
    --header-background-color: rgba(5, 5, 25, 1);
    --header-nav-color: black;
    --header-font-color: white;
    --header-achor-color: rgba(255, 255, 255, 1);
    --body-font-color-primary: white;
    --body-font-color-secondary: rgba(255, 255, 255, 0.74);
    --btn-background-color: rgba(40, 44, 52, 1);
}