.night-theme{
    --header-background-color:black;
    --header-font-color:white;
    --header-achor-color:rgba(48, 64, 229, 1);
    --body-font-color-primary:white;
    --body-font-color-secondary:rgba(255, 255, 255, 0.74);
}