.night-theme {
    --header-background-color: #{$night-header-background-color};
    --header-nav-color: #{$night-header-nav-color};
    --header-font-color: #{$night-header-font-color};
    --header-achor-color: #{$night-header-achor-color};
    --body-font-color-primary: #{$night-body-font-color-primary};
    --body-font-color-secondary: #{$night-body-font-color-secondary};
    --btn-background-color: #{$night-btn-background-color};
}