//color
$day-header-background-color: rgba(255, 255, 255, 1);
$day-header-nav-color: rgba(255, 255, 255, 1);
$day-body-background-color: rgba(244, 246, 251, 1);
$day-header-font-color: black;
$day-header-achor-color: rgba(48, 64, 229, 1);
$day-body-font-color-primary: black;
$day-body-font-color-secondary: rgba(44, 44, 46, 1);
$day-btn-background-color: rgba(244, 246, 251, 1);

$night-header-background-color: rgba(5, 5, 25, 1);
$night-header-nav-color: black;
$night-header-font-color: white;
$night-header-achor-color: rgba(255, 255, 255, 1);
$night-body-font-color-primary: white;
$night-body-font-color-secondary: rgba(255, 255, 255, 0.74);
$night-btn-background-color: rgba(40, 44, 52, 1);

$color-white: rgba(255, 255, 255, 1);
$color-grey: rgba(230, 230, 230, 1);
$color-black: rgba(0, 0, 0, 1);

//typography
$default-font-size: 1.4rem;
$default-font-weight: 500;
$default-line-height: 3rem;

$default-heading-primary-font-size: 2.8rem;
$default-heading-primary-font-weight: 800;
$default-heading-primary-line-height: 3rem;

$default-heading-secondary-font-size: 1rem;
$default-heading-secondary-font-weight: 300;
$default-heading-secondary-line-height: 3rem;


$large-heading-primary-font-size: 6rem;
$medium-heading-primary-font-size: 5rem;
$medium-heading-primary-line-height: 6rem;
$large-heading-primary-line-height: 8.5rem;

$large-heading-secondary-font-size: 2.4rem;
$medium-heading-secondary-font-size: 3rem;
$default-heading-secondary-line-height: 3rem;



$default-font-size: 1.4rem;
$default-font-weight: 500;
$default-line-height: 3rem;



//media query width
$min-width-small: 400px;
$min-width-medium: 750px;
$min-width-large: 1198px;


$min-width-small-grid: 500px;
$min-width-medium-grid: 750px;
$min-width-large-grid: 1008px;