.round-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    border: none;
    background-color: rgba(244, 246, 251, 1);
    margin: 1rem .2rem;
    padding: 1rem;
    @include boxshadow;
    position: relative;

    &--smaller {
        position: absolute;
        height: 4rem;
        width: 4rem;
        transform: translate(3.5rem, -6.5rem);
    }

    &--top {
        z-index: 2;
    }

    &:hover {
        transform: scale(1.01);
    }

    &--white {
        background-color: $color-white;
    }

}

.square-icon {
    height: 2.4rem;
    width: 2.4rem;
    margin: 0 1.2rem;
}

.icon-img {
    border: none;
    height: 100%;
    object-fit: fill;
}