.round-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    border: none;
    background-color: $color-background-day-body;
    margin:1rem .2rem;
    padding: 1rem;
    box-shadow: 0 3px 3px 3px rgba(0,0,0,.1);
    position: relative;
    &--smaller{
        position: absolute;
        height: 4rem;
        width: 4rem;
        transform: translate(3.5rem,-6.5rem);
    }
    &--top{
        z-index: 2;
    }

}
.icon-img{
    border: none;
    height: 100%;
    object-fit: fill;
}