html{
    font-size: 62.5%;
}
.heading__secondary{
    font-family: Montserrat;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 35.2px;
    letter-spacing: 0.005em;
}
.heading__primary{
    font-family: Montserrat;
    font-size: 3.5rem;
    font-weight: 800;
    line-height: 5rem;
    letter-spacing:.06rem ;
}
body{
    font-family: Montserrat;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 3rem;
}

.topic-heading--primary{
    font-family: Montserrat;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 62.17px;
    letter-spacing: .2rem;
}
.topic-heading--secondary{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 24.18px;
    letter-spacing: 0.015em;
}
.btn-font{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 20.54px;
    letter-spacing: 0.055em;}

.footer-font{
    font-family: Montserrat;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 62.17px;
    letter-spacing: .2rem;
    }