html {
    font-size: 62.5%;
}

.header,
.application-and-tools {
    color: var(--header-font-color);
}

body {
    color: var(--body-font-color-primary);
    font-family: "Montserrat", sans-serif;
    font-size: $default-font-size;
    font-weight: $default-font-weight;
    line-height: $default-line-height;
}

.header {
    p {
        color: var(--body-font-color-secondary);
    }

    a {
        color: var(--header-achor-color);
    }
}

.heading {
    &--secondary {
        font-size: $default-heading-secondary-font-size;
        font-weight: $default-heading-secondary-font-weight;
        line-height: $default-heading-secondary-line-height;
        letter-spacing: 0.005rem;
    }

    &--primary {
        font-size: $default-heading-primary-font-size;
        line-height: $default-heading-primary-line-height;
        font-weight: $default-heading-primary-font-weight;
        letter-spacing: .06rem;
    }
}

.topic-heading--primary {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 62.17px;
    letter-spacing: .2rem;
}

.topic-heading--secondary {
    font-weight: 500;
    line-height: 24.18px;
    letter-spacing: 0.015em;
}

.btn-font {
    font-family: Roboto;
    font-weight: 500;
    line-height: 2rem;
    letter-spacing: 0.055em;
}

.footer-font {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 6.2rem;
    letter-spacing: .2rem;
}

.theme-toogle-icon {
    font-size: 2rem;
    margin-left: 2rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

@media only screen and (min-width:$min-width-small) {
    .heading {
        &--secondary {
            font-size: $medium-heading-secondary-font-size;
        }

        &--primary {
            font-size: $medium-heading-primary-font-size;
            line-height: $medium-heading-primary-line-height;
        }
    }
}

@media only screen and (min-width:$min-width-large) {
    .heading {
        &--secondary {
            font-size: $large-heading-secondary-font-size;
        }

        &--primary {
            font-size: $large-heading-primary-font-size;
            line-height: $large-heading-primary-line-height;
        }
    }

    .theme-toogle-icon {
        font-size: 3rem;
        margin: 0 2rem;
    }
}